.header {
    background: #00103c;
    color: #69d2aa;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 2rem 2rem;
    text-align: center;
}

.header img {
    height: 3rem;
}

.header p {
    margin: 1rem 0 0;
}

@media screen and (min-width: 960px) {
    .header {
        flex-direction: row;
        padding-top: 2rem;
        text-align: left;
    }

    .header img {
        margin: 0 1rem;
    }

    .header p {
        margin: 0 1rem;
    }
}
