main {
    margin: 1rem auto;
    max-width: 60rem;
}

h1 {
    font-size: 4rem;
    font-weight: normal;
    margin: 5rem 0 3rem;
    text-align: center;
}

.box {
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    color: rgb(0, 16, 60);
    margin: 3rem 0;
    padding: 1rem;
}

.box.demo {
    background: rgba(255, 255, 255, 0.5);
}

.box h2 {
    font-size: 3rem;
    margin: 0 0 1rem;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

input[type='text'] {
    background: rgba(105, 210, 170, 0.1);
    border-color: transparent transparent rgb(105, 210, 170);
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.2rem;
    color: rgb(105, 210, 170);
    height: 5rem;
    margin: 1rem 0;
    padding: 1rem 0.5rem;
    text-align: center;
}
input[type='text']::placeholder {
    color: rgba(105, 210, 170, 0.75);
}
input[type='text']:focus {
    border-color: rgba(105, 210, 170, 0.1) rgba(105, 210, 170, 0.1)
        rgb(105, 210, 170);
    outline: none;
}
input[type='text']:focus::placeholder {
    color: rgba(105, 210, 170, 0.5);
}

input[type='submit'] {
    background: rgb(105, 210, 170);
    border: none;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    height: 5rem;
    padding: 1rem;
}

.box p {
    margin: 0.5rem 0;
}

p.url {
    background: rgba(105, 210, 170, 0.1);
    border-radius: 1rem;
    font-weight: bold;
    height: 5rem;
    line-height: 5rem;
    margin: 0;
    text-align: center;
}

p.hint {
    font-size: 1.5rem;
    text-align: center;
}

.box .error {
    background: rgb(254, 226, 226);
    color: rgb(248, 113, 113);
    border-radius: 1rem;
    padding: 1rem;
}

details {
    font-size: 1.5rem;
}

@media screen and (min-width: 960px) {
    .box {
        padding: 2rem;
    }
}
